<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <script src="/webjars/jquery/3.1.1/jquery.js"></script>
    <script src="webjars/materializecss/0.98.0/js/materialize.js"></script>
    <link href="/webjars/materializecss/0.98.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Default Title</title>
</head>
<body>
    <section layout:fragment="content">
        <p>Page content goes here</p>
    </section>
</body>
</html>