<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no"/>
    <script src="/webjars/jquery/3.1.1/jquery.js"></script>
    <script src="webjars/materializecss/0.98.0/js/materialize.js"></script>
    <link href="/webjars/materializecss/0.98.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Search</title>
</head>
<body>
    <div class="row" layout:fragment="content">
        <h4 class="indigo-text center">Please enter a search term</h4>



        <form action="/postSearch" method="post" class="col s12">
            <div class="col s6 offset-6">
                <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                    <span class="card-title" th:text="${error}"></span>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 offset-s3">
                    <i class="mdi-action-search prefix"></i>
                    <input id="search" name="search" type="text" class="validate"/>
                    <label for="search">Search</label>
                </div>
            </div>
        </form>

    </div>
</body>
</html>